

@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

$navigation-width: 137px;

.thumbs-section-outer {
  width: calc(100% - 217px);
  margin-left: $navigation-width;
  padding: 55px 40px 110px 40px;
}

.section-thumbs {
  display: block;
  text-align: left;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1200px;
  height: auto;
}

.section-thumbnail-box {
  width: 100%;
  margin-bottom: 40px;
}

.section-thumbnail {
  width: 100%;
  margin-bottom: -24px;
}

.thumb-image {
  position: relative;
  width: 100%;
  height: auto;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.thumb-image-loading {
  width: 100%;
}

.image-section-title {
  width: 100%;
  max-width: 1200px;
  height: 53px;
  text-align: left;
  background-image: url('../../assets/img/sections-title-background-2.jpg');
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 3px;

  h2 {
    padding: 18px 27px 8px 27px;
    @include font-setup('chapaza', 1.32rem, 500, #282828, none, -.25px);
  }
}

.description {
  color: white;
  h1 {
    line-height: 1.5rem;
  }
  h2 {
    font-size: .75rem;
    margin-top: -3px;
  }
  .year {
    font-size: .65rem;
  }
}

// Tablet Size
@media (max-width: 1024px) {
  .thumbs-section-outer {
    width: 100%;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
  } 

  .section-thumbs {
    padding:0 27px;
  }
}

// Mobile Size
@media (max-width: 414px) {
  .thumbs-section-outer {
    width: 100%;
    margin-top: 27px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 31px;
    margin-left: 0px;
  } 

  .section-thumbs {
    padding:0 0px;
  }

  .image-section-title {
    height: 51px;
    background-image: url('../../assets/img/sections-title-background-mobile.png');
    background-position: 0px -27px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    h2 {
      padding: 15px 27px 15px 27px;
      @include font-setup('chapaza', 1.27rem, 500, #282828, none, -.25px);
      opacity: .93;
    }
  }
  .description {
    margin: -5px 10px 40px 15px;
    h2 {
      line-height: 1rem;
      margin-top: -4px;
    }
  }

}