
.thumbs-section {
  // top: -20px;
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  padding-left: 155px;
  // background-color: blue;
}

.display-none {
  display: none;
}

.no-space-scraps {
  margin-top: -30px;
}

.sections {
  display: block;
  text-align: center;
  position: fixed !important;
  background-color: #fcfcfc;
  z-index: 2;
  width: 100%;
  left: 0;

  .sections-option {
    height: 30px;  
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: auto;
    padding: 8px 20px 0px 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: rgb(20, 20, 20);
    font-size: 1rem;
    letter-spacing: 0px;
    &:hover {
      background-color: rgb(238, 238, 238);
      cursor: pointer;
    }
  }
}


.thumbs-images {
  display: block;
  text-align: center;
  padding-top: 45px;
  // background-color: red;
}

.thumbnail {
  display: inline-block;
  width: 341px;
  max-width: 341px;
  // min-width: 105px;
  height: 341px;
  max-height: 341px;
  // min-height: 105px;
  margin: 6px 7px;
  // background-color: yellow;
}

.thumb-image {
  width: 341px;
  height: 341px;
}

.description {
  color: white;
  h1 {
    line-height: 1.5rem;
  }
  h2 {
    font-size: .75rem;
    margin-top: -3px;
  }
  .year {
    font-size: .65rem;
  }
}

.cover-art {
  width: 350px;
}

.album {
  margin: 10px;
}

// iPhone size plus
@media (max-width: 414px) and (max-height: 736px) {
  .music-section {
    margin: -22px 0px 50px 0px;
  }

  .album {
    margin: 0px;
  }

  .description {
    margin: -5px 10px 40px 15px;
    h2 {
      line-height: 1rem;
      margin-top: -4px;
    }
  }

  .cover-art {
    width: 100%;
  }
}