
@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

.fade-in-details-gallery-image {
  -webkit-animation: fadein 800ms; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 800ms; /* Firefox < 16 */
      -ms-animation: fadein 800ms; /* Internet Explorer */
       -o-animation: fadein 800ms; /* Opera < 12.1 */
          animation: fadein 800ms;
}

.short-films-details {
  position: relative;
  width: 100%;
  max-width: 1500px !important;
  margin: 0 auto;
  padding: 20px 0 20px 137px;
  box-sizing: border-box;
}

.short-films-details-box {
  padding: 10px 40px 40px 40px;
}

.short-films-details-info {
  display: inline-block;
  width: 100%;
  height: 89px;
  background-image: url('../../assets/img/short-film-toolbar-background-3.png');
  background-position: left bottom;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 16px;
}

.short-films-details-title {
  position: relative;
  display: grid;
  width: auto;
  float: left;
  height: 60px;
  padding: 17.5px 0 0 23px;
  @include font-setup('chapaza', 1.53rem, 500, #282828, none, -0.55px);
}

.short-films-details-year {
  position: relative;
  top: -10px;
  padding-left: 3px;
  @include font-setup('old style', .85rem, 100, #282524, none, 1.5px);
}

.short-films-details-watch-button {
  position: relative;
  float: right;
  height: 40px;
  padding: 34px 41px 3px 21px;
  @include font-setup('old style', .8rem, 700, #282524, none, 1.9px);
}


.short-films-details-description {
  margin-top: 3px;
  padding: 10px 36px 15px 36px;
  @include font-setup('SplendidN', 1.25rem, 500, #131313, none, -1.75px);
  line-height: 23px;
}

.short-films-details-credits {
  width: 100%;
  text-align: center;
  @include font-setup('old style', .8rem, 100, #1d1d1d, none, 1.5px);
  .short-films-details-credits-button {
    margin: 0 auto;
    width: 244px;
    height: 18px;
    padding: 13px;
    margin-bottom: 12px;
    margin-top: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}

.short-film-options-box {
  padding: 25px 0;
}

.short-film-options-details {
  display: inline-block;
  width: 100%;
  height: 53px;
  background-image: url('../../assets/img/short-film-toolbar-background.jpg');
  background-position: 0px -23px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.short-film-options-title {
  display: inline-flex;
  h3 {
    @include font-setup('chapaza', 1.32rem, 500, #282828, none, -.25px);
    margin: 15px;
    padding-left: 9px;
    padding-top: 2px;
  }
}

.short-film-option-length {
  @include font-setup('old style', 0.85rem, 300, #282524, none, 1.9px);
  height: 30px;
  padding: 19px 10px 0px 6px;
}

.short-film-divider {
  margin: 20px 0 5px 0;
  width: 100%;
  text-align: center;
}
.divider-img {
  width: 100%;
  max-width: 768px;
  height: auto;
}

// Tablet Size -  and (max-height: 736px)
@media (max-width: 1024px) {
  .short-films-details {
    padding: 0px 0 20px 0px;
  }
  .short-films-details-box {
    padding: 105px 35px 35px 35px;
  }
}

// Mobile Size
@media (max-width: 414px) {
  .short-films-details-info {
    height: 84px;
  }

  .short-films-details {
    padding: 0px 0 20px 0px;
  }
  .short-films-details-box {
    padding: 48px 0px 40px 0;
  }

  .short-films-details-title {
    width: 92%;
    font-size: 1.35rem;
    padding: 16px 0 0 22px;
    height: 48px;
  }

  .short-films-details-year {
    font-size: .85rem;
    top: -3px;
  }

  .short-film-options-title h3 {
    padding-top: 0px;
  }

  .short-films-details-watch-button {
    display: none;
  }
  
  .short-films-details-description {
    padding: 10px 22px 15px 22px;
  }

  .short-film-option-length {
    display: none;
  }
}
