@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

.toolbar-desktop {
  display: block;
}

.toolbar-mobile {
  display: none;
}

.toolbar {
  z-index: 40;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  left: 155px;
  width: 100%;
  height: 50px;
  position: fixed !important;
  bottom: 0;
  color: #161616;
  transition-duration: 400ms;
  &:hover {
    transition-duration: 200ms;
    box-shadow: 0px 4px 14.3px rgba(20, 20, 20, .45);
    .title {
      font-size: 1.55rem;
      letter-spacing: 0px;
      transition-duration: 225ms;
    }
    .image-details {
      font-size: .85rem;
      letter-spacing: 2.2px;
      transition-duration: 225ms;
    }
    .description {
      height: auto;
      transition-duration: 200ms;
      opacity: 100;
      transition: opacity 200ms;
      -webkit-transition: opacity 200ms;
    }
  }
}

.title-box {
  padding-left: 25px;
  padding-top: 10px;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title {
  @include font-setup('chapaza', 1.35rem, 500, rgb(20, 20, 20), none, -.75px);
  margin-top: 3px;
  display: inline-table;
  margin-bottom: -5px;
  transition-duration: 225ms;
}
.title-zoom {
  font-size: 2rem;
}
.year {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: .6rem;
  letter-spacing: 5px;
}

.year-bottom {
  display: inline-block;
}

.description {
  height: 0px;
  width: calc(100% - 275px);
  opacity: 0;
  transition: opacity 200ms;
  transition-duration: 200ms;
  -webkit-transition: opacity 200ms;
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', .9rem, 500, #131313, none, .25px);
  position: relative;
  padding-top: 5px;
  line-height: 1.2rem;
}

.description-details-spacer {
  height: 2.6px;
}

.info {
  text-align: left;
  margin-top: -12px;
  padding-left: 14px;
  position: fixed;
}

.image-details {
  @include font-setup('old style', 11.5px, 100, rgb(20, 20, 20), none, 1.5px);
  padding-left: 14px;
  padding-top: 8px;
  position: absolute;
  transition-duration: 225ms;
}

.gallery-index-box {
  transition-duration: 200ms;
  display: inline-block;
  z-index: 41;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 43px;
  width: 100px;
}

.gallery-index {
  width: 70px;
  height: 43px;
  @include font-setup('chapaza', 1.1rem, 500, rgb(20, 20, 20), none, -.75px);
  letter-spacing: 5px;
  padding-top: 7px;
  float: right;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.hide-index {
  display: none;
}

// Mobile size
@media (max-width: 414px) and (max-height: 736px) {

  // TODO: Modify these up with current styles

  // .details {
  //   padding-top: 8px;
  //   margin: -5px 10px 40px 0px;
  // }

  // .description {
  //   display: none;
  // }

  // .title-year {
  //   width: -webkit-calc(100% - 80px);
  //   width:    -moz-calc(100% - 80px);
  //   width:         calc(100% - 80px);
  // }

  // .tools {
  //   display: inline-block;
  //   position: fixed;
  //   right: 0;
  // }

  // .gallery-index {
  //   display: none;
  // }

  // .zoom-button {
  //   display: block;
  //   float: right;
  //   padding: 20px;
  //   // padding-right: 10px;
  //   &:hover {
  //     cursor: pointer;
  //   }
  // }

  // .zoom-icon path {
  //   fill: #ffffff;
  // }  
  
  // .year-bottom {
  //   display: inline-block;
  // }
}