@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

$navigation-width: 137px;

@keyframes scrollBoxZoom {
  0% {
    opacity: 0;
    left: 100px;
  }
  15% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 0px;
  }
}

$nav-h-desktop-rest: 50px;

.toolbar-reset-box-hide {
  display: none;
}

.disable-display {
  display: none;
}

.toolbar-pull-box {
  width: 100%;
  height: 8px;
}

.toolbar-pull-bar {
  position: relative;
  top: -3px;
  display: table;
  margin: 0 auto;
  height: 4px;
  width: 44px;
  border-radius: 2px;
  img {
    width: 100%;
    height: auto;
    opacity: .15;
  }
}

.toolbar-down-arrow {
  top: 0px;
  img {
    opacity: .5;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
}

.toolbar-reset-box {
  z-index: 35;
  position: fixed !important;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  display: block;
  width: 104%;
  height: 104%;
  background-color: rgba(38, 38, 38, 0.7);
}

// .fade-show {
//   z-index: 35;
// }

.toolbar {
  z-index: 30;
}

.toolbar-bar {
  z-index: 40;
  // z-index: 102;
  display: block;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  left: 137px;
  width: 100%;
  height: $nav-h-desktop-rest;
  position: fixed !important;
  bottom: 0;
  color: #161616;
  transition-duration: 225ms;
  box-shadow: rgba(6, 6, 6, 0.17) 0px 4px 20.3px;
}

.toolbar-bar-desktop {
  &:hover {
    transition-duration: 225ms;
    box-shadow: rgba(6, 6, 6, 0.25) 0px 4px 50.3px;
    .title-desktop {
      transition-duration: 225ms;
    }
    .image-date-desktop {
      transition-duration: 225ms;
    }
  }
}

.toolbar-bar-shadow {
  transition-duration: 225ms;
  box-shadow: 0px 4px 14.3px rgba(20, 20, 20, .45);
}

.title-focus {
  font-size: 1rem;
  letter-spacing: 0px;
  transition-duration: 225ms;
}

.image-date-focus {
  font-size: .85rem;
  letter-spacing: 2.2px;
  transition-duration: 225ms;
}

.title-box {
  padding-left: 40px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title {
  margin-bottom: -5px;
  @include font-setup('chapaza', 1.1rem, 500, #282524, none, -.2px);
  display: inline-table;
  margin-top: 7.3px;
  transition-duration: 225ms;
}
.title-zoom {
  font-size: 1.225rem;
}
.year {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: .6rem;
  letter-spacing: 5px;
}

.year-bottom {
  display: inline-block;
}

.image-description {
  width: calc(100% - 275px);
  opacity: 0;
  transition: opacity 225ms;
  transition-duration: 225ms;
  -webkit-transition: opacity 225ms;
  position: relative;
  padding-top: 5px;
  line-height: 1.2rem;
}

.image-info {
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', .9rem, 500, #131313, none, .25px);
}

.image-description-details {
  @include font-setup('SplendidN', 1.15rem, 500, #131313, none, -1.5px);
}

.description-focus {
  height: auto;
  opacity: 100;
  transition: opacity 225ms;
  transition-duration: 225ms;
  -webkit-transition: opacity 225ms;
}

.description-details-spacer {
  height: 1px;
}

.info {
  text-align: left;
  margin-top: -12px;
  padding-left: 14px;
  position: fixed;
}

.image-date {
  display: inline-flex;
  @include font-setup('old style', 11.5px, 100, rgb(20, 20, 20), none, 1.5px);
  padding-left: 14px;
  padding-top: 9px;
  position: absolute;
  transition-duration: 225ms;
}

.slideshow-button {
  display: inline-block;
  bottom: 11px;
  position: fixed;
  right: 105px;
  background-color: red;
  padding: 6px;

}

.gallery-index-box {
  transition-duration: 225ms;
  display: inline-block;
  z-index: 41;
  position: fixed;
  bottom: 0;
  right: 0;
  height: $nav-h-desktop-rest;
  width: 100px;
  padding-right: 21px;

  // background-color: blue;

  &:hover {
    cursor: pointer;
    .gallery-index {
      // @include font-setup('chapaza', 1.2rem, 500, rgb(20, 20, 20), none, -.75px);
      font-size: 1rem;
      transition-duration: 150ms;
    }
    // .scroll-thumbs-preview-container {
    //   display: block;
    //   background-color: blue;
    // }
    .scroll-container {
      // transition-duration: 500ms;
      // top: 33px;
      opacity: 0;
    }
    .scroll-box {
      // width: 14px;
      // height: 14px;
      // padding: 0 15px;
      // animation-name: scrollBoxZoom;
      // animation-iteration-count: infinite;
      // animation-timing-function: linear;
      // animation-duration: 6000ms;
    }
      // display: none;
      // width: 100px;
      // top: -50px;
    // }
    // .scroll-box {
    //   width: 16px;
    //   height: 16px;
    // } 
  }
}

// .scrolling-wrapper {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;

//   .card {
//     display: inline-block;
//   }
// }

.scroll-thumbs-preview-container {
  display: none;
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  // z-index: 
  top: -75px;
  height: 75px;
  width: 275px;
  right: -275px;
  background-color: rgba(6, 6, 6, .25);
  box-shadow: 0px -7px 10px 0  rgba(6, 6, 6, .25);
}

.preview-show {
  top: -185px;
  height: 185px;
  right: 0px;
  display: block;
  
  // Trying to get this to scroll further, the far right image is being cut off
  width: 100%;
  // width: calc(100% - $navigation-width);
  // width: calc(100% - 137px);
  // width: auto;
  // padding-left: 20px;
  // padding-right: 20px;
  

  // background-color: red;
}

.thumb-preview-container {
  // position: relative;
  // margin-top: 7px;
  margin: 0px 6px;
  // top: 0px;
  transition-duration: 250ms;
  justify-content: bottom;
  &:hover {
    // top: -9px;
    // margin-top: 0px;
    transition-duration: 250ms;
  }
}

.loading-preview-image {
  display: block;
  height: 175px;
  width: 200px;
  margin: 5px;
  background-color: grey;
}

.thumb-preview-image {
  // margin-top: 2.5px;
  // margin-top: 0px;
  // top: 0px;
  height: 175px;
  width: auto;
  transition-duration: 250ms;
  box-shadow: 2px 3px 7px 0  rgba(6, 6, 6, .67);
  &:hover {
    transition-duration: 250ms;
    // top: -15px;
    height: 200px;
  }
}

// .thumb--selected {
//   height: 
// }

.thumb-gallery-spacer {
  position: relative;
  width: 95px;
  height: 2px;
}

.gallery-index {
  transition-duration: 150ms;
  width: 70px;
  height: $nav-h-desktop-rest;
  @include font-setup('chapaza', .9rem, 500, rgb(20, 20, 20), none, -.75px);
  letter-spacing: 5px;
  // padding-top: 17px;
  padding-top: 12px;
  float: right;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.thumb-box-animation {
  transition-duration: 225ms;
}


.gallery-thumb-box {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 133px;
  height: $nav-h-desktop-rest;
  // transition-duration: 225ms;
  &:hover {
    cursor: pointer;
    // background-color: blue;
    // opacity: .3;
  }
}

.hide {
  display: none;
  transition-duration: 225ms;
}

.image-fade{
  background-color: rgba(38, 38, 38, 0.5);
}

.tagged-people {
  @include font-setup('SplendidN', 1.15rem, 500, #131313, none, -1.5px);
}

.tagged-person-icon {
  opacity: .65;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

// Tablet Size - and (max-height: 736px)
@media (max-width: 1024px)  {
  .toolbar-bar {
    left: 0px;
    padding: 0 0 0 20px;
  }

  .title-box {
    padding-left: 12px;
  }
}

// Mobile size -  and (max-height: 736px)
@media (max-width: 414px) {

  .toolbar-bar {
    z-index: 102;
    padding: 0;
    left: 0px;
    position: fixed !important;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: #161616;
    transition-duration: 225ms;
    box-shadow: 0px 4px 14.3px rgba(20, 20, 20, .25);
  }

  .image-box {
    height: calc(100% - 130px);
  }

  .image-date {
    display: block;
    padding-left: 0;
    padding-top: 0;
    font-size: .71rem;
    margin-top: -1px;
    transition-duration: 225ms;
  }

  .title-box {
    padding-left: 12px;
    margin-top: 2px;
  }

  .title {
    margin-top: 0px;
    margin-bottom: -1px;
  }

  .image-description {
    display: none;
    width: calc(100% - 75px);
    transition: opacity 225ms;
    transition-duration: 225ms;
    -webkit-transition: opacity 225ms;
  }
  
  .description-focus {
    display: block;
    width: calc(100% - 75px);
    margin: 15px 0px 30px 0px;
    font-size: .95rem;
    height: auto;
    opacity: 100;
    transition: opacity 225ms;
    transition-duration: 225ms;
    -webkit-transition: opacity 225ms;
  }

  .description-details-spacer {
    height: 1.85px;;
  }

  .gallery-index {
    width: 54px;
  }

  .gallery-index-box {
    transition-duration: 225ms;
    z-index: 41;
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 7px;
    height: $nav-h-desktop-rest;
    width: 75px;
  }
}