
@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@font-face {
  font-family: 'mermaid';
  src: url('../../assets/fonts/Mermaid1001.ttf') format('truetype');
}

@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style caps';
  src: url('../../assets/fonts/OLDSSCH_.TTF') format('truetype');
}


@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

$navigation-width: 137px;

.resume-section {
  width: -webkit-calc(100% - 137px);
  margin-left: $navigation-width;
  margin-top: 35px;
}

.resume {
  margin-top: 15px;
  max-width: 800px;
  height: auto;
  padding: 25px 15px 100px 15px;
  margin: 0 auto;
}

.download-resume-section {
  display: block;
  width: 100%;
  height: 65px;
  margin-top: 40px;
}

.download-resume-button {
  margin: 0 auto;
  text-align: center;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  margin-top: 24px;
  padding-top: 7px;
  background-color: rgb(248, 247, 246);
  @include font-setup('old style', 1rem, 500, rgb(20, 20, 20), none, -.25px);
  transition-duration: 300ms;
  &:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: rgb(245, 244, 243);
    width: 160px;
  }
}

.resume-section-title {
  @include font-setup('chapaza', 1.52rem, 500, rgb(20, 20, 20), none, -.25px);
  padding-top: 20px;
}

.resume-job-title-box {
  display: block;
  width: 100%;
}

.resume-job-title {
  @include font-setup('Adobe Caslon,Georgia,Times New Roman,Times,serif', 17.75px, 100, rgb(20, 20, 20), none, 0px);
  // font-family: Adobe Caslon,Georgia,Times New Roman,Times,serif;
  // font-size: 16.25px;
  line-height: 1.45rem;
  // font-weight: 100;
  padding: 6px 0px 0px 15px;
  text-decoration: none;
  display: inline-block;
}

.resume-company-title {
  font-size: 17.75px;
  padding-left: 5px;
}

.job-section-entry {
  padding: 9px 0 2px 0;
}

.resume-job-type {
  @include font-setup('mermaid', 1.14rem, 550, rgb(20, 20, 20), none, -.45px);
}

.description-padding-15 {
  padding-left: 15px;
}

.position {
  color: rgb(20, 20, 20);
  font-size: 19.25px;
  &:hover {
    color: rgb(20, 20, 20);
  }
}

a:active {
  color: rgb(20, 20, 20);
}
a:link {
  color: rgb(20, 20, 20);
}
a:visited {
  color: rgb(20, 20, 20);
}


.job-date-box {
  float: right;
  display: inline-block;
}

.job-date {
  // @include font-setup('old style caps', .97rem, 100, rgb(20, 20, 20), none, -.2px);
  // padding: 2px 0px 2px 30px;
  // @include font-setup('Adobe Caslon,Georgia,Times New Roman,Times,serif', 16.25px, 100, rgb(20, 20, 20), none, 0px);
  
  @include font-setup('old style', .8rem, 100, rgb(20, 20, 20), none, 1.2px);
  line-height: 1.45rem;
  padding: 6px 0px 0px 15px;
  text-decoration: none;

  float: right;
  // font-size: 15px;
}

.date-inline {
  padding-left: 4px;
}

.job-date-number {
  @include font-setup('serif', .93rem, 200, rgb(20, 20, 20), none, -.45px);
}

.resume-font {
  // font-family: Adobe Caslon,Georgia,Times New Roman,Times,serif;
  
  // Original
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 1rem, 500, #131313, none, .25px);

  // Future Font
  // @include font-setup('SplendidN', 1.25rem, 500, #131313, none, -1.5px);

  // font-size: 14.65px;
  line-height: 1.45rem;
  font-weight: 100;
}

.job-description {
  padding: 2px 0px 9px 30px;
}

.resume-one-liner {
  padding-left: 30px;
  // font-family: 'Roboto', sans-serif;
  // font-size: 13px;
  // font-weight: 400;
  // font-family: "old style";
  // font-weight: 100;
  // font-size: 0.8rem;
  // color: #1d1d1d;
  // text-decoration: none;
  // letter-spacing: 1.5px;
}

.tech-skill-section {
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 1.115rem, 500, #131313, none, .25px);
  margin-top: 5px;
}

.resume-divider {
  margin: 20px 0 5px 0;
  width: 100%;
  text-align: center;
}
.divider-img {
  width: 100%;
  max-width: 768px;
  height: auto;
}
.resume-line {
  margin: 0 auto;
  width: 96%;
  height: 1px;
  background-color: #5b5b5b;
}

.code-tags {
  display: inline-block;
}

.code {
  display: inline-table;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 0px 7px;
  border-radius: 2px;
  font-family: monospace, Monaco;
  font-size: 14.15px;
  line-height: 1.45rem;
  letter-spacing: -.25px;
  font-weight: 100;
  color: #0c5176 !important;
  background-color: rgb(237, 241, 243);
  &:hover {
    cursor: default;
    background-color: rgba(12,81,118,0.12);
  }
}

.resume-education-section {
  margin-top: 10px;
}

.resume-education-box {
  margin-bottom: 0px;
  margin-top: 4px;
}

.resume-education-title-box {
  display: block;
  width: 100%;
  height: 25px;
}

.resume-education-title {
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 1rem, 500, #131313, none, .25px);
  display: inline-block;
  .position {
    display: inline-block;
    font-size: 1rem;
  }
}

.resume-education-header {
  // @include font-setup('SplendidN', 1.25rem, 500, #131313, none, -1.5px);
  @include font-setup('Adobe Caslon,Georgia,Times New Roman,Times,serif', 17.25px, 100, rgb(20, 20, 20), none, 0px);
  display: inline-block;
  // font-size: 1.25rem;
}

.education-date-box {
  // display: inline-block;
  display: block;
  float: right;
}

.education-date {
 .job-date {
   padding: 0;
 }
}

// .job-date {
//   float: right;
//   font-size: 15px;
// }

// Tablet Size -  and (max-height: 736px) 
@media (max-width: 1024px) {
  .resume {
    padding: 85px 50px 90px 50px;
  }

  .resume-section {
    height: calc(100% - 110px);
    width: 100%;
    margin-left: 0px;
  } 
}
  

// Mobile size - and (max-height: 736px)
@media (max-width: 414px) {
  .resume-section {
    height: 100%;
    margin-top: 60px;
  }

  .resume {
    padding: 35px 16px 50px 16px;
  }

  .downlown-resume-section {
    height: 42px;
  }

  .resume-font {
    // Original
    // @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 1.125rem, 500, #131313, none, -0.15px);
    @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', .99rem, 500, #131313, none, 0px);
    
    // Future Font
    // @include font-setup('SplendidN', 1.25rem, 500, #131313, none, -1.5px);
    
    // line-height: 1.45rem;
    // font-weight: 100;
  }

  .description-padding-15 {
    padding-left: 10px;
    .resume-education-title-box {
      padding-left: 0px;
    }
  }

  .resume-job-title-box {
    padding-top: 16px;
  }

  .resume-section-title {
    font-size: 1.77rem;
  }
 
  .resume-job-title {
    // font-size: 17.95px;
    // font-size: 18.55px;
    font-size: 17.75px;
    padding: 6px 9px 0px 0px;
    line-height: 25px;
  }

  .resume-company-title {
    padding-left: 0px;
  }

  .position {
    // font-size: 21.15px;
    font-size: 22.75px;
  }
  
  .job-description {
    padding: 4px 0px 9px 12.5px;
  }

  .job-date-box {
    float: none;
    display: table;
    padding-top: 2px;
  }

  .job-date {
    padding: 0px;
  }

  .tech-skill-section {
    margin-top: 10px;
    margin-bottom: 1px;
  }

  .resume-education-box {
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: -8px;
  }

  .resume-education-title-box {
    display: inline;
  }

  .resume-education-title {
    .position {
      // font-size: 1.25rem;
      font-size: 22.75px;
    }
  }

  .education-date-box {
    float: left;
  }
}