
@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@font-face {
  font-family: 'mermaid';
  src: url('../../assets/fonts/Mermaid1001.ttf') format('truetype');
}

@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style caps';
  src: url('../../assets/fonts/OLDSSCH_.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

@keyframes fadeInResumeOpacity {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 35px;
  }
}

@keyframes fadeInResumeOpacityMobile {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 60px;
  }
}

$navigation-width: 137px;

.resume-section {
  width: -webkit-calc(100% - 137px);
  margin-left: $navigation-width;
  margin-top: 35px;
  animation-name: fadeInResumeOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
}

.resume {
  max-width: 800px;
  height: auto;
  padding: 1px 15px 130px 15px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.download-resume-section {
  margin-top: 60px;
  display: block;
  width: 100%;
  height: 45px;
}

.download-resume-button {
  margin: 0 auto;
  text-align: center;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  margin-top: 24px;
  padding-top: 7px;
  background-color: rgb(248, 247, 246);
  @include font-setup('old style', 1rem, 500, rgb(20, 20, 20), none, -.25px);
  transition-duration: 600ms;
  transition: 600ms;
  // .download-resume-font {
  //   transition: 600ms;
  //   letter-spacing: .15px;
  // }
  &:hover {
    cursor: pointer;
    transition: 500ms;
    background-color: rgb(245, 244, 243);
    width: 160px;
    .download-resume-font {
      transition: 600ms;
      letter-spacing: .15px;
    }
  }
}


.resume-section-title {
  @include font-setup('old style caps', 1.64rem, 500, #1f1f1f, none, 2.15px);
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 18px;
}

.resume-job-title-box {
  display: block;
  width: 100%;
}

.resume-job-title {
  @include font-setup('Adobe Caslon,Georgia,Times New Roman,Times,serif', 17.75px, 100, rgb(20, 20, 20), none, 0px);
  line-height: 1.45rem;
  padding: 6px 0px 0px 15px;
  text-decoration: none;
  display: inline-block;
}

.resume-link {
  &:hover {
    background-color: rgb(255, 249, 197);
  }
}

.job-section-entry {
  padding: 9px 0 2px 0;
}

.resume-job-type {
  @include font-setup('mermaid', 1.14rem, 550, rgb(20, 20, 20), none, -.45px);
}

.description-padding-15 {
  padding-left: 15px;
}

.position {
  color: rgb(20, 20, 20);
  font-size: 19.25px;
  &:hover {
    color: rgb(20, 20, 20);
  }
}

a:active {
  color: rgb(20, 20, 20);
}
a:link {
  color: rgb(20, 20, 20);
}
a:visited {
  color: rgb(20, 20, 20);
}


.job-date-box {
  float: right;
  display: inline-block;
}

.job-date {
  @include font-setup('old style', .81rem, 100, rgb(20, 20, 20), none, 1.2px);
  line-height: 1.45rem;
  padding: 6px 0px 0px 15px;
  text-decoration: none;
  float: right;
}

.date-inline {
  padding-left: 4px;
}

.job-date-number {
  @include font-setup('serif', .93rem, 200, rgb(20, 20, 20), none, -.45px);
}

.resume-font {
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 1rem, 500, #131313, none, .25px);
  line-height: 1.45rem;
  font-weight: 100;
}

.job-description {
  padding: 2px 0px 9px 30px;
}

.resume-one-liner {
  padding-left: 30px;
}

.tech-skill-section {
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 17.5px, 500, #131313, none, .25px);
  margin-top: 5px;
}

.resume-divider {
  margin: 0px 0 15px 0;
  width: 100%;
  text-align: center;
}
.divider-img {
  width: 100%;
  max-width: 768px;
  height: auto;
}
.resume-line {
  margin: 0 auto;
  width: 96%;
  height: 1px;
  background-color: #5b5b5b;
}

.tech-skills-section {
  padding-left: 15px;
}

.code-tags {
  display: inline-block;
}

.code {
  display: inline-table;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 0px 7px;
  border-radius: 2px;
  font-family: monospace, Monaco;
  font-size: 12.95px;
  line-height: 1.45rem;
  letter-spacing: -.25px;
  font-weight: 100;
  color: #0c5176 !important;
  background-color: rgb(237, 241, 243);
  &:hover {
    cursor: default;
    background-color: rgba(12,81,118,0.12);
  }
}

.resume-education-section {
  margin-top: 10px;
}

.resume-education-box {
  margin-bottom: 0px;
  margin-top: 4px;
}

.resume-education-title-box {
  display: block;
  width: 100%;
  height: 25px;
}

.resume-education-title {
  @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', 1rem, 500, #131313, none, .25px);
  display: inline-block;
  .position {
    display: inline-block;
    font-size: 1rem;
  }
}

.resume-education-header {
  @include font-setup('Adobe Caslon,Georgia,Times New Roman,Times,serif', 17.25px, 100, rgb(20, 20, 20), none, 0px);
  display: inline-block;
}

.education-date-box {
  display: block;
  float: right;
}

.education-date {
 .job-date {
   padding: 0;
 }
}

// Tablet Size -  and (max-height: 736px) 
@media (max-width: 1024px) {
  .resume {
    padding: 85px 50px 90px 50px;
  }

  .resume-section {
    height: calc(100% - 110px);
    width: 100%;
    margin-left: 0px;
  } 
}

// Mobile size - and (max-height: 736px)
@media (max-width: 414px) {
  .download-resume-section {
    display: none;
  }

  .resume-section {
    height: 100%;
    margin-top: 60px;
    animation-name: fadeInResumeOpacityMobile;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 800ms;
  }

  .resume {
    padding: 0px 16px 50px 16px;
  }

  .downlown-resume-section {
    height: 42px;
  }

  .resume-font {
    @include font-setup('medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif', .99rem, 500, #131313, none, 0px);
  }

  .resume-divider {
    margin: 0px;
  }

  .description-padding-15 {
    padding-left: 10px;
    .resume-education-title-box {
      padding-left: 0px;
    }
  }

  .resume-job-title-box {
    padding-top: 16px;
  }

  .resume-section-title {
    padding-top: 25px;
    // font-size: 2.14rem;
    // font-size: 1.25rem;
    font-size: 1.45rem;
    padding-left: 0px;
  }
 
  .resume-job-title {
    font-size: 17.75px;
    padding: 6px 9px 0px 0px;
    line-height: 25px;
  }

  // .resume-company-title {
  //   padding-left: 0px;
  //   background-color: rgb(255, 249, 197);
  // }

  .position {
    // font-size: 20.75px;
    font-size: 19px;
  }
  
  .job-description {
    padding: 4px 0px 9px 2.5px;
  }

  .job-date-box {
    float: none;
    display: table;
    padding-top: 2px;
  }

  .job-date {
    padding: 0px;
  }
  
  .tech-skills-section {
    padding-left: 0px;
  }

  .tech-skill-section {
    margin-top: 10px;
    margin-bottom: 1px;
  }

  .resume-education-box {
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: -8px;
  }

  .resume-education-title-box {
    display: inline;
  }

  .resume-education-title {
    .position {
      font-size: 17.5px;
    }
  }

  .education-date-box {
    float: left;
  }

  .code {
    font-size: 11px;
  }
}