
@font-face {
  font-family: 'SplendidN';
  src: url('../../assets/fonts/SplendidN.ttf') format('truetype');
}

@font-face {
  font-family: 'OLDSH';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

.friends {
  width: -webkit-calc(100% - 180px);
  padding-top: 40px;
  margin-left: 180px;
  padding-left: 20px;
  padding-bottom: 75px;
}

.friends-columns {
  -webkit-column-count: auto; /* Chrome, Safari, Opera */
  -moz-column-count: auto; /* Firefox */
  column-count: auto;
  column-fill: auto;
  height: -webkit-calc(100% - 10px);
  -webkit-column-width: 253px;
     -moz-column-width: 253px;
          column-width: 253px;
}

.friends-section {
  display: inline-table;
  width: 250px;
  padding: 5px 0;
  h4 {
    @include font-setup('OLDSH', 1.1rem, 550, rgb(20, 20, 20), none, 0px);
    margin: 0;
    padding: 0;
    margin-bottom: -2px;
  }
  &:hover {
    h4 {
      font-weight: 600;
    }
  }
}

.type {
  @include font-setup('SplendidN', 1.1rem, 500, rgb(20, 20, 20), none, -1px);
  margin: 0px 6px 0 0;
  padding: 0px 2px 0 1px;
  &:hover {
    @include font-setup('SplendidN', 1.1rem, 600, rgb(20, 20, 20), none, -1px);
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
  }
}

.tags {
  @include font-setup('SplendidN', 1.1rem, 500, rgb(20, 20, 20), none, -1px);
}

// Mobile size
@media (max-width: 414px) and (max-height: 736px) {

}