
@font-face {
  font-family: 'chapaza';
  src: url('../../assets/fonts/Chapaza.ttf') format('truetype');
}

@font-face {
  font-family: 'old style';
  src: url('../../assets/fonts/OLDSH___.TTF') format('truetype');
}

@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

.short-films-sections {
  position: relative;
  width: 100%;
  max-width: 1500px !important;
  margin: 0 auto;
  padding: 20px 0 20px 137px;
  box-sizing: border-box;
}

.short-film-box {
  width: auto;
  max-width: 1500px;
  max-height: 900px;
  padding: 40px;
  &:hover {
    cursor: pointer;
  }
}

.short-film-cover-box {
  width: auto;
}

.short-film-cover-image {
  display:block;
  margin: auto;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  max-width: -webkit-fill-available;
  image-rendering: crisp-edges;
}

.short-film-details {
  text-align: left;
  height: 76px;
  padding: 0px 27px;
  background-image: url('../../assets/img/short-film-toolbar-background.jpg');
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  h3 {
    margin-top: 0px;
    padding-top: 19px;
    margin-bottom: -22px;
    @include font-setup('chapaza', 1.32rem, 500, #282828, none, -.25px);
    // @include font-setup('old style caps', 1.52rem, 500, #282524, none, 2.15px);
    
    // @include font-setup('old style caps', 2rem, 500, #282524, none, .15px);
    // @include font-setup('old style caps', 1.85rem, 500, #282524, none, .15px);
    // padding-top: 4px;
    // margin-bottom: -22px;
  }

  h4 {
    @include font-setup('old style', .85rem, 100, #1d1d1d, none, 1.5px);
  }
}

// Tablet Size -  and (max-height: 736px)
@media (max-width: 1024px) {
  .short-films-sections {
    margin: 65px 0;
    padding: 0 35px;
  }

  .short-film-box {
    padding: 40px 0;
  }
  
}

// Mobile Size
// and (max-height: 736px)
@media (max-width: 414px) {
  .short-films-sections {
    margin: 0px;
    top: 55px;
    padding: 0px 0px 45px 0px;
  }
  
  .short-film-box {
    padding: 27px 0px;
  }

  .short-film-details {
    height: 55px;
    margin-top: -2px;
    padding: 3px 27px 0px 27px;
    height: 61px;
    background-image: url('../../assets/img/sections-title-background-mobile.png');
    background-position: 0px -14px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    h3 {
      padding-top: 8.5px;
      padding-bottom: 0px;
      @include font-setup('chapaza', 1.27rem, 500, #282828, none, -.25px);
      opacity: .93;
      // @include font-setup('old style caps', 1.32rem, 500, #282524, none, .15px);
    }
    h4 {
      opacity: .93;
      margin-top: 16px;
      font-size: .8rem;
    }
  }
}
