
@mixin font-setup($family, $size, $weight, $color, $decoration,  $spacing){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  letter-spacing: $spacing;
}

.resources {
  padding-left: 155px;
}

// Mobile size
@media (max-width: 414px) and (max-height: 736px) {

}